crop-image{
    .beauty{
        .color-button, .color-button:active,
        .color-button:focus, .color-button:visited{
            color:#fff;
            border:none;
        }
        .color-button:hover{color: #f06eaa}
    }

    .cafe{
        .color-button, .color-button:active,
        .color-button:focus, .color-button:visited{
            color:#fff;
            border:none;
        }
        .color-button:hover {color: #005952}
    }
}