page-forgot-request-password {
    .forgotrequest-wrapper{ margin-top: 30px; }
    .forgotrequest-box-title{
        text-align:center;
        margin:0 auto;
    }
    .forgotrequest-title{
        font-size: 15px;
        font-weight:bold;
        color:#000;
    }
    .forgotrequest-message{
        color:#888;
        font-size:12px;
        display:block;
    }
    .forgotrequest-button{ margin-top:25px; }


    //
    .beauty{
        .forgotrequest-button, .forgot-button:active,
        .forgotrequest-button:focus, .forgot-button:visited,
        .forgotrequest-button:hover{
            color:#fff;
            background:#f06eaa;
            border:none;
        }
    }
    .tasty{
        .forgotrequest-button, .forgotrequest-button:active,
        .forgotrequest-button:focus, .forgotrequest-button:visited,
        .forgotrequest-button:hover{
            color:#fff;
            background:#005952;
            border:none;
        }
    }
    .professional{
        .forgotrequest-button, .forgotrequest-button:active,
        .forgotrequest-button:focus, .forgotrequest-button:visited,
        .forgotrequest-button:hover{
            color:#fff;
            background:#9e0b0f;
            border:none;
        }
    }
    .excellent{
        .forgotrequest-button, .forgotrequest-button:active,
        .forgotrequest-button:focus, .forgotrequest-button:visited,
        .forgotrequest-button:hover{
            color:#fff;
            background:#fecb17;
            border:none;
        }
    }
}
