<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>493909549224-i4g53ddu56v9d4nh7qpoovi8r0eljevt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493909549224-i4g53ddu56v9d4nh7qpoovi8r0eljevt</string>
	<key>API_KEY</key>
	<string>AIzaSyAOBivIX7YPM8-td_0QcZJV89ljT31wrj0</string>
	<key>GCM_SENDER_ID</key>
	<string>493909549224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dpc.salon</string>
	<key>PROJECT_ID</key>
	<string>dpc-salon</string>
	<key>STORAGE_BUCKET</key>
	<string>dpc-salon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493909549224:ios:a4927a8cc051b53a</string>
	<key>DATABASE_URL</key>
	<string>https://dpc-salon.firebaseio.com</string>
</dict>
</plist>