page-verification-resend-email {
    .verification-resend-wrapper{ }
    .verification-resend-box-title{
        text-align:center;
        margin:0 auto;
    }
    .verification-resend-title{
        font-size: 14px;
        font-weight:bold;
        color:#000;
    }
    .verification-resend-message{
        color:#888;
        font-size:12px;
        display:block;
    }
    .verification-resend-button{
        margin-top:25px;
    }
}
