page-verification-handphone {
    .verification-handphone-box-title{
        text-align:center;
        margin:0 auto;
    }
    .verification-handphone-title{
        font-size: 14px;
        font-weight:bold;
        color:#000;
    }
    .verification-handphone-message{
        color:#888;
        font-size:12px;
        display:block;
    }
    .verification-handphone-button{margin-top:25px;}
    .verification-resent{margin-top: 20px;}
}
